/* The Wu32 CSS Document sample*/
/*Zeroing and redefining tags*/

*{
  margin: 0;
  padding: 0;
  border: 0;
}
body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	margin-top:0px;
	margin-bottom:0px;
	background:#FFFFFF;
	background-repeat:repeat-x;
	text-align:center;
}
/*Hierarchisation*/
h1{
/*  text-transform: uppercase; */
  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
}

h2{
  font-size: 12px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
  color:#663300;
}

h3{
  font-size: 11px;
  margin: 12px 0 6px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
}
/*Listes*/
ul{
  list-style-type: square;
}

ul, ol{
  padding-left: 20px;
}
li {
	list-style-type: square;
	line-height: 15px;
	
}
/*Tailles HTML*/
small{
  font-size: 11px;
}
/*Lignes*/
hr{
  height: 0;
  border: 0 none;
  border-top: 1px solid #e7e8ed;
}
/*Liens*/
a:link,a:visited{
  color: #002276;
  font-weight:bold;
  text-decoration: none;
}

a:active,a:hover{
  text-decoration: none;
  font-weight:bold;
  color: #000;
}
/*Tableaux*/
td{
	color:#000033;
	font-size:10px;
	font-family:Verdana, Helvetica, sans-serif;
}
/*Paragraphe*/
p {
	font-size: 100%;
	color:#003366;
	line-height: 15px;
	margin: 7px 0;
}
/*Formulaire*/
textarea, select{
	font-size:11px;
	font-family: verdana,sans-serif;
	color:#003366;
	border:#003366 1px solid;
	padding:2px;
	margin-top:3px;
}
